body, html {
    background-color: #e8e8e8;
    color: #161616;
    padding: 10px;
	font-family: "Azeret Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.vert {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.hor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    margin-left: 15px;
}

ul {
    list-style-type: none;
}
